# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/

# Ignore Python compiled files
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore data files
tokenizer/training_data/